.login-container {
  background-image: url('/bg-original.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(63, 87, 152, 0.8);
    width: 380px;
    margin: auto;
    padding: 15px;
    height: 100%;
  }
  &__logo {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .login-container {
    &__column {
      width: 100%;
    }
  }
}